.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.feature-item {
  width: 100%;
}

.feature-icon-box {
  display: none;
  height: 112px;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #2e2f42;
  background-color: #f4f4fd;
}

.feature-icon {
  color: inherit;
}

.feature-title {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: center;
}

.feature-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .feature-item {
    width: calc((100% - 24px) / 2);
  }

  .feature-title {
    text-align: left;
  }
}

@media (min-width: 1158px) {
  .features-list {
    gap: 24px;
  }

  .feature-item {
    width: calc((100% - 72px) / 4);
  }

  .feature-icon-box {
    display: flex;
    margin-bottom: 8px;
  }

  .feature-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
  }

  .feature-text {
    font-weight: 400;
  }
}
